<html>
  <body>
    <center>
      <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
        <h2 style="color: #292536; text-align: center">Solicitação de alteração de senha</h2>
        <p>O token para alterar a senha está descrito a seguir: </p>
        <p>{{token}}</p>
      </div>
    </center>
  </body>
</html>
